fastapi==0.70.0
uvicorn==0.16.0

# DB/ORM Services
SQLAlchemy==1.4.28
itsdangerous==2.0.1

# Auth
PyJWT==2.3.0
passlib==1.7.4
bcrypt==3.2.0

# Upload File
python-multipart==0.0.5

# File Converter
Pillow==8.4.0

# Python Tests
pytest==6.2.5
requests==2.26.0